include CHANGELOG LICENSE README.rst requirements.txt
recursive-include feedmapper/fixtures *
recursive-include feedmapper/templates *
recursive-include feedmapper/tests *.xml
recursive-include example/myapp/fixtures *
global-exclude *.un~
